<div id="<%= dom_id developer %>">

  <td>
    <%# <strong>Firstname:</strong> %>
    <%= developer.firstname %>
  </td>

  <td>
    <%# <strong>Lastname:</strong> %>
    <%= developer.lastname %>
  </td>

  <td>
    <%# <strong>Email:</strong> %>
    <%= developer.email %>
  </td>

  <td>
    <%# <strong>Dob:</strong> %>
    <%= developer.dob %>
  </td>

</div>
