<p style="color: green"><%= notice %></p>

<h1><%=t('global.menu.tasks')%></h1>
<table class="table table-striped table-bordered table-hover">
<thead style="background-color: #01BD95;">
<tr>
<th><%=t('global.table.task_name')%></th>
<th><%=t('global.table.due_date')%></th>
<th><%=t('global.table.status')%></th>
<th><%=t('global.table.developer')%></th>
<th colspan="3"></th>
</tr>
</thead>

<tbody id="tasks">
  <% @tasks.each do |task| %>
  <tr>
    <%= render task %>
    <td>
      <%= link_to t('global.forms.show_task'), task %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to t('global.forms.new_task'), new_task_path, class:"btn btn-success" %>
