<div id="<%= dom_id user %>">
  <td>
    <%# <strong>Firstname:</strong> %>
    <%= user.firstname %>
  </td>

  <td>
    <%# <strong>Lastname:</strong> %>
    <%= user.lastname %>
  </td>

  <td>
    <%# <strong>Email:</strong> %>
    <%= user.email %>
  </td>

  <td>
    <%# <strong>Dob:</strong> %>
    <%= user.dob %>
  </td>
</div>
