<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #01BD95;">
  <a class="navbar-brand" href="#"><%= t('global.menu.task_app')%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <% if employee_signed_in? %>
      <li class="nav-item active">
        <%= link_to t('global.menu.developers'), developers_path, class:"nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to t('global.menu.tasks'), tasks_path, class:"nav-link"%>
      </li>
      <li class="nav-item active">
        <%= button_to t('global.menu.sign_out'), destroy_employee_session_path, method: :delete, class:"nav-link", style: "background-color: #01BD95;"%>
      </li>
      <% else %> 
        <li class="nav-item active">
        <%= link_to t('global.menu.sign_up'), new_employee_registration_path, class:"nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to t('global.menu.sign_in'), new_employee_session_path, class:"nav-link"%>
      </li>
      <% end %>
      
    </ul>

  </div>
</nav>